<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Schnauzers>
<Schnauzers >
	<WarmingSendMailList Sender="RepRobot@163.com" pwd="">
	    <Mail>yifei.wang@163.com</Mail> 
	</WarmingSendMailList>
	<Schnauzer ID="61" Caption="base==行政">
		<MasterDBInfo Host="192.168.12.7" port="3310" user="secrep" pwd=""  dbname="roshall" DateFormat="EEE MMM dd HH:mm:ss zzz yyyy"/>
		<SlaveDBInfo Host="192.168.12.4"  port="3310" user="repservice" pwd=""  dbname="gadmin" type="mysql" SerailNo="87EE"/>
		<RepTableList>
			<Table MasterTable="employee" SlaveTable="bas_employee" KeyField="id"  heterogeneous="true" mergedTable="true">
			    <Field  MasterField="typeId" SlaveField="typeId" />
				<Field  MasterField="parTypeId" SlaveField="parTypeId" />
				<Field  MasterField="leveal" SlaveField="leveal" />
				<Field  MasterField="soncount" SlaveField="soncount" />
				<Field  MasterField="sonnum" SlaveField="sonnum" />
				<Field  MasterField="FullName" SlaveField="FullName" />
				<Field  MasterField="Name" SlaveField="Name" />
				<Field  MasterField="UserCode" SlaveField="UserCode" />
				<Field  MasterField="Department" SlaveField="Department" />
				<Field  MasterField="Tel" SlaveField="Tel" />
				<Field  MasterField="Address" SlaveField="Address" />
				<Field  MasterField="Comment" SlaveField="Comment" />
				<Field  MasterField="deleted" SlaveField="deleted" />
				<Field  MasterField="Pay" SlaveField="Pay" />
				<Field  MasterField="Incumbency" SlaveField="Incumbency" />
				<Field  MasterField="Birthday" SlaveField="Birthday" />
				<Field  MasterField="EMail" SlaveField="EMail" />
				<Field  MasterField="rowindex" SlaveField="rowindex" />
				<Field  MasterField="id" SlaveField="id" />
				<Field  MasterField="parid" SlaveField="parid" />
				<Field  MasterField="profileid" SlaveField="profileid" />
				<Field  MasterField="isStop" SlaveField="isStop" />
				<Field  MasterField="namePy" SlaveField="namePy" />
				<Field  MasterField="deptid" SlaveField="deptid" />
				<Field  MasterField="sync" SlaveField="sync" />
				<Field  MasterField="modifiedTime" SlaveField="modifiedTime" />
			</Table>
			<Table MasterTable="department" SlaveTable="bas_department" KeyField="id"  heterogeneous="true" mergedTable="true">
				<Field  MasterField="typeId" SlaveField="typeId" />
				<Field  MasterField="parTypeId" SlaveField="parTypeId" />
				<Field  MasterField="leveal" SlaveField="leveal" />
				<Field  MasterField="soncount" SlaveField="soncount" />
				<Field  MasterField="sonnum" SlaveField="sonnum" />
				<Field  MasterField="UserCode" SlaveField="UserCode" />
				<Field  MasterField="FullName" SlaveField="FullName" />
				<Field  MasterField="Name" SlaveField="Name" />
				<Field  MasterField="Comment" SlaveField="Comment" />
				<Field  MasterField="deleted" SlaveField="deleted" />
				<Field  MasterField="RowIndex" SlaveField="RowIndex" />
				<Field  MasterField="id" SlaveField="id" />
				<Field  MasterField="parid" SlaveField="parid" />
				<Field  MasterField="profileid" SlaveField="profileid" />
				<Field  MasterField="namePy" SlaveField="namePy" />
			</Table>
		</RepTableList>
	</Schnauzer>
	<Schnauzer ID="1"  Caption="jxc">
		<MasterDBInfo Host="192.168.103.152" port="3340" user="root" pwd="" dbname="cloud"  DateFormat="" RepClass="SchnauzerSASMaster"/>
		<SlaveDBInfo Host="192.168.103.111"  port="3312" user="root" pwd="" dbname="slave1" type="MySQL" SerailNo="54EE" />
		<RepTableList> 
			<Table MasterTable="ptype" SlaveTable="ptype" KeyField="id" CheckField="profileid" heterogeneous="false" mergedTable="true" RepClass="SASRDBSchnauzer"/> 
		</RepTableList>
	</Schnauzer>
	<Schnauzer ID="2"  Caption="crm" >
		<MasterDBInfo Host="192.168.103.152" port="3340" user="root" pwd="" dbname="cloud"  DateFormat="" RepClass="SchnauzerSASMaster"/>
		<SlaveDBInfo Host="192.168.12.13"  port="3307" user="root" pwd="" dbname="slave2" type="MySQL" SerailNo="54EE" />
		<RepTableList> 
			<Table MasterTable="ptype" SlaveTable="ptype" KeyField="id" CheckField="profileid" heterogeneous="false" mergedTable="true" RepClass="SASRDBSchnauzer"/> 
		</RepTableList>
	</Schnauzer>
</Schnauzers>
