<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Schnauzers>
<Schnauzers>
	<WarmingSendMailList Sender="RepRobot@163.com" pwd="reprobot001">
	    <Mail>yifei.wang@163.com</Mail> 
	</WarmingSendMailList>
	<Schnauzer ID="35">
	<HeartBeat Host="192.168.12.162" port="60002" Interval="20000" />
	<MasterDBInfo Host="192.168.3.53" port="3306" user="root" pwd="09230808" dbname="test" serverid="21" DateFormat=""/>
	<SlaveDBInfo Host="192.168.3.53" port="1432" user="sa" pwd="54429" dbname="CustNew" type="sqlserver" SerailNo="0AEe" masterid="49"/>
	<SlaveDBInfo Host="192.168.0.8"  port="1433" user="sa" pwd="clientserver85310000" dbname="sarah" type="sqlserver2000" SerailNo="6621" masterID="49"/>
	<RepTableList>  
	  <Table MasterTable="t" SlaveTable="t" KeyField="id"  mergedTable="true"> 
	  </Table> 
	</RepTableList>
	</Schnauzer>
</Schnauzers>
