<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="null" threshold="null">
<appender class="org.apache.log4j.RollingFileAppender" name="LOG.DEBUG">
	<param name="File" value="debug.log"/>
	<param name="MaxFileSize" value="5120KB"/>
	<param name="MaxBackupIndex" value="100"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n"/>
	</layout>
	<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="LevelMin" value="DEBUG"/> 
		<param name="LevelMax" value="DEBUG"/> 
	</filter>
</appender>
<appender class="org.apache.log4j.DailyRollingFileAppender" name="LOG.INFO">
	<param name="File" value="LogsIII/LOG.INFO.log"/>
	<param name="DatePattern" value="yyyy-MM-dd'.log'"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n"/>
	</layout>
	<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
	<param name="LevelMin" value="INFO"/> 
	<param name="LevelMax" value="FATAL"/> 
</filter>
</appender>
<appender class="org.apache.log4j.RollingFileAppender" name="LOG.FATAL">
<param name="File" value="fatal.log"/>
<param name="MaxFileSize" value="5120KB"/>
<param name="MaxBackupIndex" value="10"/>
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %c {%F:%L} - %m%n"/>
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
<param name="LevelMin" value="FATAL"/> 
<param name="LevelMax" value="FATAL"/> 
</filter>
</appender>
<root>
<priority value="DEBUG"/>
	<appender-ref ref="LOG.DEBUG"/>
	<appender-ref ref="LOG.INFO"/>
</root>
</log4j:configuration>